@import "~@/assets/stylus/kalix-color.styl"
.home
  height 100%
  background-image url("/static/images/main-bg-b.jpg"), url("/static/images/frame-bg-t.jpg"), url("/static/images/main-bg-m.jpg")
  background-position center bottom, center -100px, center top
  background-repeat no-repeat, no-repeat, repeat-y
  background-size cover
  .container
    position: absolute
    top: 50px
    left: 0
    bottom: 0
    width: 100%
    .article
      overflow: hidden
      position: relative
