@import "./color.styl"
@import "./kalix-color.styl"
.kalix-wrapper
  margin 0px
  position absolute
  bottom 20px
  top 142px
  left 20px
  box-sizing border-box
  right 20px
  background-color $background-color-1
  .kalix-wrapper-hd
    background-color $plank-title-background-color
    color $plank-title-color
    line-height 44px
    padding 0 15px
    text-align left
  .kalix-wrapper-bd
    .kalix-table-container
      position absolute
      margin 0 12px
      overflow hidden
      bottom 54px
      right 0
      left 0
      top 101px
      text-align left
    .kalix-table-pagination
      position absolute
      text-align left
      padding 8px 12px
      width 100%
      left 0
      bottom 0
      align-items center
      box-sizing border-box
      .btn-wrapper
        padding 2px 0 2px 20px
      .el-button
        .iconfont
          font-size 14px
      .kalix-table-pagination_item
        & + .kalix-table-pagination_item
          margin-left 20px
    .no-list
      position absolute
      left 0
      top 0
      z-index 9
      box-sizing border-box
      border 1px solid #dfe6ec
      height 100%
      width 100%
      color #5e7382
      font-size 14px
      text-align center
      background-color #fff
      display flex
      box-pack center
      justify-content center
      box-align center
      flex-align center
      align-items center
