@import "./brandcolors.styl"
// 背景颜色
bg-color_1 = #5fa2dd

//文字颜色
txt-color_1 = #FFFFFF

//边框颜色
border-color_1 = #d0d0d0

bg_color1 = #ffffff
bg_color2 = #f7f7f7

br_color = #dedede
br_color2 = #f7f7f7
br_color3 = #C7C7C7

text_color1 = #333333
text_color2 = #666666
text_color3 = #999999
