html
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display block

body
  line-height 1

ol, ul
  list-style none

blockquote, q
  quotes none

blockquotebefore, blockquoteafter, qbefore, qafter
  content ''

table
  border-collapse collapse
  border-spacing 0

body
  margin 0
  padding 0

.s-flex
  display flex
  .s-flex_item
    flex 1

.s-check__label
  position relative

.s-check
  position absolute
  left -9999em
