$background-color-1 = #ffffff
$background-color-2 = #f3f3f3
$background-color-3 = #352420
$background-color-4 = #a8967d
$background-color-5 = #635754
$background-color-6 = #ebebeb

/* 板块标题 */
$plank-title-color = #ffffff
$plank-title-background-color = #a8967d

/* baseTable 文字颜色 */
$table-th-color = #b18e60
$table-text-color = #352420
$table-operation-color = #dd9e4a

/* header 文字颜色*/
$header-text-color = #333333
$header-text-select-color = #fc512f

/* navigate 文字颜色 */
$navigate-text-color = #a8967d
$navigate-title-select-color = #ffdace
$navigate-text-select-color = #f7f7f7
